**Data Cleaning dan Transformation**  
Data Cleaning atau pembersihan data adalah proses penting dalam alur kerja machine learning yang bertujuan untuk meningkatkan kualitas dataset sebelum digunakan untuk pelatihan model. Dalam konteks machine learning, data cleaning mencakup serangkaian langkah yang dirancang untuk mendeteksi, memperbaiki, atau menghapus data yang tidak valid, tidak lengkap, tidak akurat, atau tidak relevan. Silakan simak gambar berikut dan perhatikan secara saksama.

Catatan  
Proses data cleaning ini tidak perlu dilakukan semuanya karena tidak semua data memiliki karakteristik yang sama. Pada latihan ini, Anda akan melakukan cleaning terhadap train.csv, silakan lakukan secara mandiri untuk data test.csv, ya

**Mengidentifikasi Informasi Dataset**  
Pertama-tama, mari kita periksa tipe data dari masing-masing fitur yang ada di dataset. Tujuan dari pemeriksaan tipe data ini adalah untuk memastikan seluruh tipe data yang ada sudah sesuai dan tidak ada kekeliruan (contoh: data numerik terdeteksi str (string)). Sehingga, pada akhirnya Anda tidak akan mengalami kesulitan ketika melakukan preprocessing data karena tipe data yang ada sudah sesuai dan bisa melalui proses dengan lebih seamless.

In [1]:
import pandas as pd

laptop = pd.read_csv("C:\Project\ML_learn\Sample\laptops.csv")
laptop.info()

<>:3: SyntaxWarning: "\P" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\P"? A raw string is also an option.
<>:3: SyntaxWarning: "\P" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\P"? A raw string is also an option.
C:\Users\Azrxr\AppData\Local\Temp\ipykernel_20236\3876600135.py:3: SyntaxWarning: "\P" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\P"? A raw string is also an option.
  laptop = pd.read_csv("C:\Project\ML_learn\Sample\laptops.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CompanyName       1000 non-null   object
 1   TypeOfLaptop      1000 non-null   object
 2   Inches            1000 non-null   float64
 3   ScreenResolution  1000 non-null   object
 4   Cpu               1000 non-null   object
 5   Ram               1000 non-null   object
 6   Memory            1000 non-null   object
 7   Gpu               1000 non-null   object
 8   OpSys             1000 non-null   object
 9   Weight            1000 non-null   float64
 10  Price             1000 non-null   float64
dtypes: float64(3), object(8)
memory usage: 86.1+ KB

Selanjutnya, Anda perlu melakukan analisis statistik deskriptif dari dataset yang digunakan. Tujuan analisis statistik deskriptif dalam proses data cleaning pada machine learning adalah untuk memahami karakteristik dasar dari data yang sedang diproses. Beberapa tujuan utama dari proses ini adalah sebagai berikut.

- Memahami Distribusi Data: statistik deskriptif ini akan membantu Anda dalam memahami bagaimana data terdistribusi, termasuk melihat nilai rata-rata (mean), median, modus, rentang (range), dan variabilitas (standard deviation). Ini penting untuk mengidentifikasi data yang mungkin tidak seimbang (imbalance) atau memiliki distribusi yang tidak normal.
- Mengidentifikasi Anomali dan Outlier: analisis deskriptif dapat membantu dalam mendeteksi nilai-nilai yang tidak wajar atau outlier yang bisa memengaruhi performa model. Masih ingatkan penjelasan tentang outlier pada materi sebelumnya? Jika Anda ragu, jangan sungkan untuk me-review ulang kembali materinya, ya.
- Menilai Kualitas Data: dengan analisis deskriptif, dapat diketahui apakah ada missing values, data duplikat, atau inkonsistensi dalam dataset. Ini penting untuk memastikan bahwa data bersih dan siap digunakan untuk model machine learning.
- Mempermudah Pemahaman Data: statistik deskriptif menyajikan informasi data dalam bentuk yang lebih sederhana, seperti tabel, grafik, dan summary statistics, yang memudahkan pemahaman atas kondisi data yang ada.
Menentukan Transformasi Data yang Diperlukan: dari hasil analisis deskriptif, bisa ditentukan apakah diperlukan transformasi data, seperti normalisasi atau standardisasi, agar data lebih sesuai untuk algoritma machine learning yang akan digunakan.

Dengan melakukan analisis statistik deskriptif, kita bisa memastikan bahwa data yang digunakan untuk melatih model machine learning adalah data yang representatif, berkualitas tinggi, dan bebas dari masalah yang dapat memengaruhi hasil akhir.

In [2]:
# Menampilkan statistik deskriptif dari dataset
laptop.describe(include="all")

,CompanyName,TypeOfLaptop,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price
count,1000,1000,1000.000000,1000,1000,1000,1000,1000,1000,1000.000000,1000.000000
unique,9,6,NaN,6,10,4,18,3,5,NaN,NaN
top,MSI,Business Laptop,NaN,2K,Intel Xeon E3-1505M,8GB,1TB HDD,NVIDIA GeForce GTX 1650,No OS,NaN,NaN
freq,128,176,NaN,181,114,270,105,348,224,NaN,NaN
mean,NaN,NaN,14.496646,NaN,NaN,NaN,NaN,NaN,NaN,3.469800,51602.255339
std,NaN,NaN,2.066624,NaN,NaN,NaN,NaN,NaN,NaN,0.857112,13802.833231
min,NaN,NaN,11.005842,NaN,NaN,NaN,NaN,NaN,NaN,2.000819,30060.275100
25%,NaN,NaN,12.677791,NaN,NaN,NaN,NaN,NaN,NaN,2.720228,40376.617670
50%,NaN,NaN,14.509298,NaN,NaN,NaN,NaN,NaN,NaN,3.477824,50683.971717
75%,NaN,NaN,16.313026,NaN,NaN,NaN,NaN,NaN,NaN,4.189891,61897.280126
max,NaN,NaN,17.998786,NaN,NaN,NaN,NaN,NaN,NaN,4.994556,115137.368077

In [3]:
# Memeriksa jumlah nilai yang hilang di setiap kolom
missing_values = laptop.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)